* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn{
    background-image: linear-gradient(to right,#F7E93F 0, #FB09B4 51% ,#9100F8 100%);
    border: none;
    padding: 12px 16px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    cursor: auto;
    }
.btn:hover{
    background-color: #0000008e;
}

.display-flex{
    display: flex;
    justify-content: center;
}

.font-regular{
    font-size: 16px;
    color:rgb(179, 179, 179);
    text-align: center;
}

.font-bold{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

/* main style */
header{
    background-color: #1A0B2E;
    padding: 16px 200px;
}

nav {
    width: 75%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    /* align-items: center; */
}

nav .menu a{
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}
/* banner section */
 #banner-container {
    background: url("../assets/hero-bg.png");
    width: 1600px;
    height: 760px;
    margin:0 auto;
    padding: 101px 525px;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.banner-content{
    margin: 101px 525px;
}

#new-badge {
    background-color: #00FF88;
    border: none;
    padding: 12px 16px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight:600;
    color: black;
    margin-left: 252px;
    
    
    }

    .banner-content .banner-image{
    display: grid;
    place-items: center;
    background: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
    position: relative;
    
    
}
.microphone{
    margin-bottom: 81px;
}
 
      


.banner-content h1{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px;
}
.banner-content p{
   margin-bottom: 24px;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid #00FF88;
    padding: 12px 16px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight:600;
    color: #00FF88;
    cursor: auto;
}
.banner-content .display-flex{
    gap:8px;
}
/* about section */
#about{
    background-color: #1A0B2E;
    width: 1600px;
    height: 646px;
    margin:0 auto;
    padding: 50px 200px 120px;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
}

.about-container .font-bold{
    margin-bottom: 16px;
}
 

.about-container .font-regular{
    margin-bottom: 80px;
} 

 .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    
}

.fact{
    width: 240px;
    height: 94px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.fact-number{
    font-size: 48px;
    font-weight: 900px;
    color: #00FF88;
    margin-bottom: 16px;
}

/* choose section */
#choose{
    background-color: #230E3D;
    width: 1600px;
    height: 1121px;
    margin:0 auto;
    padding: 120px 200px;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.box{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 40px;
    
}

.box h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.box p{
    text-align: left;
}

.box-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;
    
}

#box-1{
    grid-row: span 2;
}

.side{
    grid-column: span 2;
}
    
#box-4{
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
    height: 273px;
    
}
#box-5{
    grid-column: span 1;
}

/* youtube section */
#featured{
    background-color: #1A0B2E;
    width: 1600px;
    height: 1276px;
    margin: 0 auto;
    padding: 120px 200px;
}

.card-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.card{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 24px;

}
.card iframe{
    padding: 0;
    margin: 0;
    border-radius: 24px;
} 
.card h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    padding: 24px 24px 0px 24px;
    
}
.card p{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    padding: 0px 24px;
}

.card .time{
    font-size: 16px;
    color: #00FF88;
    
}

/* host section */
.contentainer{
    background-color: #250D44;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 120px;
    border-radius: 24px;
    
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.host-content{
    width: 896px;
    height: 183px;

}
.host-content h3{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 16px;
}

.host-content p{
    text-align: left;
    margin-bottom: 16px;
}
.icon-container{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 8px;
}
.host-content .icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 2px solid #533C72;
    border-radius: 50% ;
    
    
}


/* footer section */
.footer-container{
    background-image: url(../assets/footer-bg.png);
    width: 1600px;
    height: 412px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.social-media{
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}









